<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Список стран</title>
</head>
<body>

<h1>Список стран</h1>

<table>

{% for c in countrylist %}
     <tr>
    <td>{{c.name}}</td>
     <td>
        <a href="{% url 'country.delete' c.id %}">удалить</a> &nbsp;&nbsp;&nbsp;
         <a href="{% url 'country.add_region' c.id %}">добавить регион(область, край, республика, АО)</a>
     </td>

     </tr>

{% endfor %}

</table>

{% block content %}
<form method="post" action="{% url 'country.create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>

{% endblock %}

</body>
</html>